##############################################################################
# GitHub Actions Workflow for volesti to build tests with GCC
#
# Copyright (c) 2020-2021 Vissarion Fisikopoulos
#
# Licensed under GNU LGPL.3, see LICENCE file
##############################################################################
name: cmake-gcc

on: [push, pull_request]

jobs:
  build:
    name: ${{ matrix.config.os }} - ${{ matrix.config.compiler }}
    strategy:
          fail-fast: false
          matrix:
            config:
              - {os: ubuntu-22.04, compiler: g++-9}
              - {os: ubuntu-22.04, compiler: g++-10}
              - {os: ubuntu-22.04, compiler: g++-11}
              - {os: ubuntu-22.04, compiler: g++-12}
              - {os: ubuntu-22.04, compiler: g++-13}
              - {os: ubuntu-20.04, compiler: g++-7}
              - {os: ubuntu-20.04, compiler: g++-8}
              - {os: ubuntu-20.04, compiler: g++-9}
              - {os: ubuntu-20.04, compiler: g++-10}
    runs-on: ${{ matrix.config.os }}
    steps:
      - uses: actions/checkout@v1
      - run: sudo apt-get update || true;
             sudo apt-get install ${{ matrix.config.compiler }} lp-solve;
             rm -rf build;
             mkdir build;
             cd build;
             cmake -D CMAKE_CXX_COMPILER=${{ matrix.config.compiler }} -D DISABLE_NLP_ORACLES=ON -D USE_MKL=OFF ../test;
             make;
             ctest --verbose;
