name: Docs
on: [push, release]

jobs:
  notebooks:
    name: "Build the docs"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          sudo apt-get install doxygen
          python -m pip install -U pip
          python -m pip install -r docs/requirements.txt

      - name: Build the docs
        run: |
          python -m pip install -U setuptools
          python -m pip install -U pillow mock alabaster commonmark recommonmark sphinx sphinx-rtd-theme readthedocs-sphinx-ext
          cd docs
          python -m sphinx -T -E -b html -d _build/doctrees -D language=en . _build/html
